In [3]:
import pandas as pd

In [4]:
%%shell
cd /tmp
git clone git@github.com:Turbo87/utm
commit_opener --repo utm

ERROR: Cell magic `%%shell` not found.

In [7]:
contrib_data = pd.read_json('/tmp/contrib_data/contributor_data.json')
contrib_data

,commits,first,last,line_changes,max_dayly_commit_run,max_dry_stretch,median_commit_frequency
Bart van Andel,0.013333,2015-01-20T11:18:53.000Z,2015-01-20T11:18:53.000Z,0.000958,NaN,None,None
Christian Ewald,0.013333,2015-09-23T20:39:02.000Z,2015-09-23T20:39:02.000Z,0.025874,NaN,None,None
Richard Barnes,0.026667,2013-09-04T16:43:26.000Z,2013-09-04T16:45:03.000Z,0.005750,1,1970-01-01T00:00:00.000Z,1970-01-01T00:00:00.000Z
Tobias Bieniek,0.893333,2012-12-29T19:02:50.000Z,2015-11-05T13:08:23.000Z,0.958793,25,1971-01-10T00:00:00.000Z,1970-01-01T00:00:00.000Z
Torstein I. Bø,0.040000,2014-12-01T17:32:05.000Z,2015-02-04T13:01:18.000Z,0.007667,1,1970-03-06T00:00:00.000Z,1970-02-02T00:00:00.000Z
unknown,0.013333,2015-09-02T10:11:34.000Z,2015-09-02T10:11:34.000Z,0.000958,NaN,None,None

In [6]:
citation_data = pd.read_json('/tmp/contrib_data/citation_data.json')
citation_data

   citedByCount        id  pubYear
0             0  26962821     2016
1             0  26576745     2016
2             0  26925656     2016
3             0  26779804     2016
4             0  26871471     2016
5             0  26878196     2016
6             0  26716549     2016
7             0  26952133     2016
8             0  25041134     2016
9             0  26428190     2016